.menu {
    /* background-image: url('../Heros//offerHeros/techjourneyer_72218_a_background_image_with_color_effects_of_re_f8105fbe-ca61-46d4-9645-b6b4164f157a\ 2.jpg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


/* .link-num {
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    transform: translate(40px);
}

/* Animation */
/* .link-num:hover {
    animation-name: numAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes numAnimation {
    from {
        transform: translate(40px);
    }
    to {
        transform: translate(0px);
    }
}

.link-txt {
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    transform: translate(0px);
}

Animation
.link-txt:hover {
    animation: txtAnimation;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes txtAnimation {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(40px);
    }
}  */

.links {
    /* width: 30vw; */
    width: 100%;
    height: 10vh;
    /* position: relative; */
    /* Set position relative on the parent container */
}

/* .links:hover .link-txt{
 color: #4C4C4C;   
} */



.link-txt {
    color: #fff;
    height: max-content;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* position: absolute; */
    transform: translate(0);
    transition: transform .5s ease-in-out;
    z-index: 11;
    background-color: black;
    width: 100%;
    transition:all  .5s ease ;


    /* animation */
    position: relative;
    display: inline-block;
    font-size: 2em;
    /* color: royalblue; */
    font-weight: 800;
    /* text-decoration: underline; */
    overflow: hidden;

}


.hovr{


}

.hovr a {
    color: #4C4C4C;
    transition:all  .5s ease ;
}

.hovr li{
    width: 100%;
}
.hovr  a:hover {
    color: #fff;
    transition:all  .5s ease ;
    width: 100%;

}
/* .link-txt:hover {
    color: white;
    transition: all 0.5s ease;
} */


/* .link-txt::before {
    position: relative;
    content: attr("Home");
    top: 0;
    left: 0;
    color: midnightblue;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap;

} */

/* .link-txt:hover::before {
    width: 100%;
} */

/* .links:hover .link-num {
    transform: translate(0px);
}


.links:hover .link-txt {
    transform: translate(40px);
} */

/* .link-num::before {
    position: absolute;
    content: attr("01");
    color: midnightblue;
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
  }

  .link-num:hover{
   
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      
  } */



.animates {

    /* width: 100vw; */
    /* height: 100vh; */
    animation: slideIn .3s ease-in-out;
    /* animation: slideOf 1s ease-in-out ; */
    /* animation: slidein 5s ease ; */
}

@keyframes slideIn {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0%)
    }
}

.animateOut {

    /* width: 100vw; */
    /* height: 100vh; */
    animation: slideIn .3s ease-in-out;
    /* animation: slideOf 1s ease-in-out ; */
    /* animation: slidein 5s ease ; */
}

@keyframes slideOut {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(100%)
    }
}




/* .link-txt{
    color: transparent;
    background-image: linear-gradient(90deg, yellow 50%, green 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip:text;
    
    transition: background-position 1s ease;
  }
  h1:hover{
    background-position:0;
  } */