.heros-main{
    background-image: url('./techjourneyer_72218_make_a_picture_of_a_deep_ai_code_and_a_attr_f5d1e153-8432-42ca-b389-86da2fc579ca\ 1.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
