@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 100vw;
 overflow-x: hidden;
  font-family: 'Neuton', serif;
  background: #FFFFF0;
}