.offer-heros{
    background-image: url('./techjourneyer_72218_a_background_image_with_color_effects_of_re_f8105fbe-ca61-46d4-9645-b6b4164f157a\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: neutron;

}